input[type = "text"], input[type = "password"]{
    border: 2px solid black;
    padding: 1.85vh;
    border-radius: 14px;
    margin: 1vh;
    text-align: center;
}

button {
    border: 2px solid black;
    padding: 1vh;
    border-radius: 10px;
}

.container{
    border-radius: 10px;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}